[submodule "html/typo3_src"]
	path = html/typo3_src
	url = git://git.typo3.org/Packages/TYPO3.CMS.git
[submodule "html/typo3conf/ext/phpunit"]
	path = html/typo3conf/ext/phpunit
	url = git://git.typo3.org/TYPO3CMS/Extensions/phpunit.git
[submodule "html/typo3conf/ext/coreapi"]
	path = html/typo3conf/ext/coreapi
	url = git://github.com/etobi/ext-coreapi.git
[submodule "html/typo3conf/ext/blog_example"]
	path = html/typo3conf/ext/blog_example
	url = git://git.typo3.org/TYPO3CMS/CoreProjects/MVC/blog_example.git
[submodule "html/typo3conf/ext/extension_builder"]
	path = html/typo3conf/ext/extension_builder
	url = git://git.typo3.org/TYPO3CMS/Extensions/extension_builder.git
[submodule "html/typo3conf/ext/sjr_offers"]
	path = html/typo3conf/ext/sjr_offers
	url = ssh://github.com/martin-helmich/typo3-sjroffers.git
